<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />  -->


  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>


<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:66.6%;vertical-align:middle">
              <h1>Alvin Heng</h1>
              <p>
                  Hello! I am currently a PhD student at the National University of Singapore, where I work on deep generative models as part of
                  <a href="https://clear-nus.github.io/">CLeAR Lab</a> with <a href="https://haroldsoh.com/">Harold Soh</a>. 
                  <br>
              </p>
              <p>
                <b>Research</b>: My research interests lie in the field of deep generative models. Some areas that I have worked on include gradient flows,
                diffusion models, variational inference, neural ordinary differential equations (ODEs) and time-series prediction. To learn more about my background and research, 
                please refer to my CV and Google Scholar profile linked below.
              </p>
              <p>
                <b>Previously</b>: In my past life, I worked as a physicist, specializing in the field of condensed matter physics during my undergraduate studies.
                My primary focus involved conducting numerical simulations to study exotic physical phenomena in quantum materials. During this time, I worked with
                <a href="http://web.spms.ntu.edu.sg/~sengupta/">Pinaki Sengupta</a> at the Nanyang Technological University, as well as 
                <a href="https://phsites.technion.ac.il/akeselman/">Anna Keselman</a> and <a href="https://www.kitp.ucsb.edu/balents">Leon Balents</a> at the Kavli Institute
                for Theoretical Physics at UCSB. As a Masters student at the University of Toronto, I worked with <a href="https://cqiqc.physics.utoronto.ca/people/nathan-wiebe/">Nathan Wiebe</a> to 
                explore how deep learning techniques can be used to improve particle resampler for Sequential Monte Carlo, with applications to quantum algorithms.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:alvin.heng@u.nus.edu">Email</a> &nbsp;/&nbsp;
                <a href="assets/pdfs/CV.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com.sg/citations?user=fHFKbUMAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://github.com/ajrheng">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/alvin-heng-jr/"> LinkedIn </a> 
              </p>
              <!-- <p style="text-align:center"><I><b>Welcome for contacting me on things about tech & research.</b></I></p> -->
            </td>
            <td style="padding:2%;width:32%;max-width:32%">
              <img class="shadowImage" style="width:100%;max-width:100%" alt="profile photo" src="assets/me.png">
            </td>
          </tr>
        </table>
        <!-- <hr class="style-two"><br/> -->
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:1%;width:100%;vertical-align:middle">
              <h2><b>Timeline / News</b></h2>
            </td>
          </tr>
        </table> -->
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'news' %}
          <tr>
            <td style="padding:0%;width:75%;vertical-align:middle">
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {{ post.excerpt }}
            </td>
          </tr>

          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

        <!-- <br/><hr class="style-two"><br/> -->
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:1%;width:100%;vertical-align:middle">
              <h2><b>Publications</b></h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2%;width:27.5%;vertical-align:middle;min-width:120px">
              <img class="roundBorder" src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2%;width:72.5%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.supp %}
              <a href="{{post.supp}}">supp</a> /
              {% endif %}
               {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.journal %}
              <a href="{{post.journal}}">journal</a> /
              {% endif %}
              {% if post.conference %}
              <a href="{{post.conference}}">journal</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:small;">
                <small>Website credits: </small><a style="font-size:small;" href="https://guojianzhu.com/">1</a>, <a style="font-size:small;" href="https://jonbarron.info/">2</a>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>
